/* HomePage.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .difficulty-header {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .home-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
    padding: 0 16px;
    width: 100%;
  }
  
  .home-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 36px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 36px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
    width: auto; /* Allow the button to expand */
    min-width: 300px; /* Set a minimum width */
    text-align: center;
  }
  
  .home-button:hover {
    background-color: #222;
    transform: translateY(-2px);
  }
  
  .home-button.selected {
    background-color: #333333;
  }

  