/* SpellPage.css */

.Incorrect-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Spell-header p {
    margin: 0;
    padding: 0;
  }

.Spell-header {
    font-weight: bold;
    font-size: 64px;
    margin: 20px 0;
    text-align: center;
}
  
.Audio-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
}
  
.Audio-button {
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 40px;
    padding: 30px 20px;
}

.Audio-button:hover {
    background-color: #222;
    transform: translateY(-2px);
}
  
.answer-input {
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 800px;
    height: 10px;
    outline: none;
    padding: 30px 20px;
    margin: 20px 0;
}
  
.answer-input::placeholder {
    color: black;
    opacity: 1;
}
  
.Word-progress {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin: 20px 0;
}
  
.action-button {
    position: relative;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px 32px;
    z-index: 1;
    cursor: pointer;
} 

.action-button:hover {
    background-color: #222;
    transform: translateY(-2px);
}

.button-wrapper {
    position: relative;
    display: inline-block;
}

.audio-button-row {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin: 20px 0;
}

.button-shadow {
    position: absolute;
    top: 6px;
    left: -6px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
  
.button-wrapper.green-shadow .button-shadow {
    background-color: #40FF80;
}
  
.button-wrapper.blue-shadow .button-shadow {
    background-color: #00FFFF;
}

.button-wrapper.yellow-shadow .button-shadow {
    background-color: #FADC48;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.home-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    gap: 110px;
}
  
.home-button {
    width: 300px;
    height: 100px;
    position: relative;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px 32px;
    z-index: 1;
    cursor: pointer;
} 

.home-button:hover {
    background-color: #222;
    transform: translateY(-2px);
}

.difficulty-header {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
}

.home-button.selected {
    background-color: #333333;
  }

.welcome-text{
    font-size: 34px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
}
  
.welcome-header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
}